.font {
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
}

.fontz {
    font-family: 'Prompt', sans-serif;
    font-weight:600;
}

.fontss {
    font-family: 'Montserrat', sans-serif;
}
.fonta {
     font-family: 'Montserrat';
}
.nav-item {
    padding-right: 30px;
}

.nav-link:hover {
    /* text-decoration: underline; */
    border-bottom: 2px solid rgb(159,103,211);
}

a.btn.btn-success {
    background: blue;
    color:yellow;
    outline:none;
    }

    a.btn.btn-success:hover {
        text-decoration: underline;
    }

body{ 
    max-width: 100vw;
}

.sektion {
    background:rgba(255, 252, 233, 1);
    height:120px;
}

.sektion7 {
    height:750px;
}

.yellow img {
    margin-left:1230px;
     margin-top: 40px;
}

img.mages {
    margin-top:-280px;
     margin-left:100px;
}

img.mage{
    margin-top:-220px;
     margin-left:10px;
}

.col.fontss.s7 {
    margin-left:250px;
     margin-top:-100px; 
     font-size: 14px;
      color:rgba(74,74,74,1);
}

.lastsek {
    margin-left:80px;
     margin-top: 15px;
      position: absolute;
}

.lastsek h3 {
    font-size:18px;
     color:rgba(8, 0, 165, 1);
     margin-top: -9px;
}

.lastsek p {
    font-size:15px; 
    color:rgba(119, 119, 119, 1); 
    margin-top:-8px;
}

article {
    background:#fff; 
    height:570px; 
    width:490px; 
    border-radius: 15px; 
    box-shadow:0px 3.53239px 36.207px rgba(0, 0, 0, 0.1); 
     margin-top: -120px;
      margin-left:-70px; 
}


.row.call {
    margin-left:70px;
}

.col.sek {
    margin-top:80px;
}

.btn.btn-primary {
    background:rgba(8, 0, 165, 1); 
    color:yellow;
     margin-left:320px; 
     margin-top:30px;
}


footer {
    background: rgba(8, 0, 165, 1);
height: 390px;
}

img.magent {
    margin-top:120px;
     margin-left:100px;
}

.col.ft {
    color:white; 
    margin-top: 100px;
}


div.col-8 a {
    color:white;
    text-decoration: none;
}

div.col-8 a:hover {
    text-decoration:underline;
    color:yellow;
    
}

/* .row.appstores {
    width:23%;
     margin-left: 660px; 
     margin-top: 100px;
} */

img.app1 {
 margin-top:120px;
 margin-left: 630px;
}

img.app2 {
    margin-top: 70px;
    margin-left: 20px;
}

footer {
    background: rgba(8, 0, 165, 1);
height: 390px;
}

.footer {
    height:100px;
}